{{#hero-card
  people=people
  name=name
  vehicle=vehicle
  homeworld=homeworld
}}{{/hero-card}}
{{#hero-card
  people=people
  name=name
  vehicle=vehicle
  homeworld=homeworld
}}{{/hero-card}}
<button class='waves-effect waves-light btn' onclick={{action 'play'}}>PLAY</button>