<div class="container">
  <select class="" name="" id="">
    <option value="1" onclick="">People</option>
    <option value="2" onclick="">Starships</option>
  </select>
  {{#each players as |player|}}
    {{#hero-card
      player=player
      peopleMatch=peopleMatch
    }}{{/hero-card}}
  {{/each}}
</div>
<button class='waves-effect waves-light btn' onclick={{action 'play'}}>MATCH!</button>