.container {
  display: flex;
  justify-content: center;
  padding: 12rem;
  width: 100%;

  span {
    margin: 1rem;
    font-weight: bold;
  }

  .card {
    max-width: 14.5rem;

    .card-image {
      max-width: 12.5rem;
      margin: 0 auto;
      padding: 0.6rem;
    }
  }
}

