.container {
  display: flex;
  justify-content: center;
  padding: 12rem;
  width: 100%;

  span {
    margin: 1rem;
    font-weight: bold;
  }

  .card {
    max-width: 18.5rem;

    .card-image {
      padding: 0.6rem;

      .card-title {
        color: #000;
      }
    }
  }
}

