<div class="row hero-card-wrapper">
  <div class="col s12">
    <div class="card center-align">
      <span class="card-title">
        {{player.name}}
      </span>
      <div class="card-image">
        {{#if vsPerson}}
          <img src="./assets/images/greedo.jpg">
        {{else}}
          <img src="./assets/images/starship.jpg">
        {{/if}}
      </div>
      <div class="card-content">
        {{yield}}
      </div>
    </div>
  </div>
</div>
